body {
	margin: 0 auto;
	max-width: 640px;
}

img {
	max-width: 100%;
}

blockquote {
	margin: 0;

	border-radius: 4px;

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 16px;
	padding-right: 16px;

	font-size: 14px;
	font-style: italic;

	color: SlateGray;
	background-color: GhostWhite;
}

pre {
	overflow: auto;
	border-radius: 4px;
	padding: 16px;
}

:not(pre) > code {
	border-radius: 4px;

	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;

	color: SlateGray;
	background-color: Gainsboro;
}

.logo {
	display: inline;
	margin: 0;
	height: 16px;
	width: 16px;
	vertical-align: middle;
}
